<div class="card">
  <div class="card-header">
    Task #<%= @task.id %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @task.title %></h5>
    <p class="card-text"><%= @task.details %></p>
    <p class="card-text">Status: <%= @task.completed ? "âœ…" : "â" %></p>
  </div>
  <%= link_to "Back to Index", tasks_path %>
  <%= link_to "Edit task.", edit_task_path %>
  <%= link_to "Delete this task.",
    task_path(@task.id),
    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
